<div class="news-wrapper">
  <div class="news">
    <div class="serial">{{ serial }}.</div>
    <div class="upvote"></div>
    <div class="title">
      <a [href]="story.url"> {{ story.title }} </a>
    </div>
    <div class="url" *ngIf="story.domain">
      <a [href]="story.url"> ({{ story.domain }}) </a>
    </div>
  </div>
  <div class="info">
    <div class="points">{{ story.score }} points by</div>
    <div class="user">{{ story.by }}</div>
    <div class="time">{{ story.time | date: "shortTime" }}</div>
    <div class="comments">| hide | 3 comments</div>
  </div>
</div>
