<div class="header-wrapper">
  <div class="nav-wrapper">
    <div class="logo">
      <img src="https://news.ycombinator.com/y18.gif" />
      <div class="site-name"><a href="/">Hacker News</a></div>
    </div>
    <div class="navs">
      <a>welcome |</a>
      <a>new |</a>
      <a>threads |</a>
      <a>past |</a>
      <a>comments |</a>
      <a>ask |</a>
      <a>show |</a>
      <a>jobs |</a>
      <a>submit</a>
    </div>
  </div>
  <div class="profile">
    <a>imzahidulislam |</a>
    <a>logout</a>
  </div>
</div>
