.news-wrapper {
  background: #f6f6ef;
  padding-top: 10px;
  .news {
    display: flex;
    .serial {
      font-size: 13px;
      color: grey;
    }
    .upvote {
      height: 12px;
      width: 14px;
      background-image: url(https://news.ycombinator.com/grayarrow2x.gif);
    }
    .title {
      font-size: 13px;
      color: #000000;
      padding-left: 2px;
    }
    .url {
      font-size: 10px;
      color: grey;
      padding-left: 5px;
      margin-top: 2px;
    }
  }
  .info {
    padding-left: 30px;
    display: flex;
    font-size: 10px;
    color: grey;
    .time {
      padding: 0 5px;
    }
  }
}
