.news-wrapper {
  background: #f6f6ef;
  padding-top: 10px;
  .news {
    display: flex;
    .title {
      padding-left: 2px;
      a {
        font-size: 13px;
        color: #000000;
        text-decoration: none;
      }
    }
    .url {
      padding-left: 5px;
      a {
        font-size: 10px;
        color: grey;
        text-decoration: none;
      }
    }
  }
  .info {
    display: flex;
    font-size: 10px;
    color: grey;
  }
}
